alembic==1.13.2
argon2-cffi==23.1.0
click==8.1.7
exif==1.6.0
fastapi==0.111.1
pillow==10.4.0
pydantic-settings==2.4.0
python-multipart==0.0.9
uvicorn[standard]==0.30.3
SQLAlchemy==2.0.31
sqlmodel==0.0.21
